@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body {
    background-color: #eee;
    height:100vh;
}

h5 {
    color: #9e9e9e;
    text-align: center;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #777777;
    border: none;
    background-color: #fff;
    border-bottom: 1.2px solid #bebebe;
    font-weight: 500;
}
img.profile-pic:hover {
    opacity: 0.4;
    transition: 0.3s ease-in-out;
}
table {
    width: 100%;
    margin: auto;
}

.alert {
    margin: 1.5rem 3rem !important;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: transparent;
}

th {
    background: #fff;
    color: rgb(49, 49, 49);
    font-weight: 500;
    border-bottom: 1px solid rgb(74 80 90) !important;
}

td,
th {
    padding: 10px;
    border-right: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
}


.btn {
    background-color: #111e31;
    color: #fff;
    border: none;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    z-index: 999;
    bottom: 12px;
    cursor: pointer;
    right: 12px;
    background-color: #111e31;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 12px;
}

.u-name {
    font-family: 'Abel', sans-serif;
    color: #909090;
    font-size: 16px;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}

.c-form-group {
    padding: 2rem 1rem;
    background: linear-gradient( 328deg, #eaeaea52, transparent);
    border-bottom: 1px solid #ddd;
}

.u-status {
    color: #3d6196;
}

.my-cards {
    height: 100%;
}

.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fa-check {
    color: green;
}

.wallet {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #111e31;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
    height: 16px;
    margin-right: 4px;
}


/* width */

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #949494;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.c1 {
    width: 20%;
}

.c2 {
    width: 55%;
}

.c3 {
    width: 25%;
}

.custom-card {
    padding: 1rem 0;
}

td {
    padding: 0.4rem 1rem;
    text-align:left;
}

td#text-long {
    overflow-wrap: anywhere;
}

.custom-pad {
    padding: 0 1rem;
}

.custom-pad2 {
    padding: 0 3rem;
}

.custom-width {
    width: 25%;
}

.custom-2nd-nav {
    margin: 1rem auto 4rem auto;
    width: 80%;
}

.mr-5 {
    margin-right: 1rem;
}

.c-flex {
    display: flex;
}

.custom-list {
    list-style: none;
}

.custom-list li {
    margin-bottom: 1.5rem;
}

.my-active {
    border-bottom: 1.5px solid #3d6196;
    font-weight: 700 !important;
}

.link-size {
    font-size: 1.1rem;
    color: #3d6196 !important;
    font-weight: 400;
    /* font-family: sans-serif; */
}

.atbs li {
    transition: all 0.3s ease-in-out;
}

#copy {
    color: #112746;
    cursor: pointer;
}

#copy:hover {
    color: #777777;
}

.custom-btn:hover {
    background: #111e3100;
    border: 1px solid #111e31;
    color: #111e31;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #111e31 !important;
    border: none;
    background-color: rgb(234 234 234) !important;
    border-radius: 0 !important;
    font-weight: 500 !important;
}

.custom-btn {
    background: #111e31;
    border-radius: 10px;
    color: #ffffff;
    font-family: monospace;
    margin: 1rem 0 0 0;
    border: none;
    padding: 0.21em 0.5rem;
    box-shadow: 0 0 8px #0000006b;
}

.my-active2 {
    border-bottom: 1.5px solid #9e9e9e !important;
    font-weight: 600 !important;
}

.hide {
    display: none;
}

.tab-link {
    cursor: pointer;
}

.link-size2 {
    color: #9e9e9e !important;
    font-weight: 400;
    /* font-family: sans-serif; */
}

i {
    color: #eee
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.content-layout {
    margin: 1.5em 2em;
}

.my-nav-links {
    flex-grow: 0 !important;
}

.top-bar {
    margin-bottom: 15px;
}

.custom-label {
    margin-left: 10%;
    margin-bottom: 5px;
    font-size: 1.35rem;
}

.custom-label2 {
    color: #a19e9e;
    margin-left: 10%;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.25rem;
}

.form-u-name {
    border-radius: 50%;
    color: #111e31;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 9px;
    height: 35px;
    border: 2px solid #111e31;
}

.c-form-control {
    width: 90%;
    margin: 1.84rem 0;
}

span#sign .g {
    fill: #78e439;
}

span#sign .r {
    fill: #b42222;
}

span#sign2 .g {
    fill: #78e439;
}

span#sign2 .r {
    fill: #b42222;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        padding-right: 0.5rem;
    }
    .nav-link {
        text-align: right;
    }
    .top-bar {
        display: none !important;
    }
    
    .card-text{
        width:100% !important;
        text-align:center;
    }
    .br-r{
        padding: 2rem 15px;
    }
    .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .55) !important;
    display: flex !important;
    justify-content: flex-end !important;
    font-size: 1.3rem !important;
    padding-right: 1rem !important; 
    align-items: baseline !important;
}
}

@media (min-width: 992px) {
    .my-nav-link {
        margin-right: 0.5em !important;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .55);
    display: flex;
    font-size: 0.92rem;
    align-items: baseline;
}

.logo-text {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
}
@media screen and (max-width: 500px) {
    .col-md-2 {
        width: 50% !important;
    }
    .custom-card2 {
        border-right: 0px solid #cbcaca !important;
    }
    .last-price{
        margin:auto !important;
    }
    .card{
        text-align:center;
    }
    .lates-transaction-table{
        margin-top:5rem !important;
    }
    .br-r {
        border-right: 0px solid #ddd !important;
        margin-bottom:2rem !important;
    }
    .home-th{
        font-size:1rem !important;
    }
}
@media screen and (max-width: 768px) {
    .c1 {
        width: 25%;
    }
    .c2 {
        width: 75%;
    }
    .c3 {
        width: 100%;
    }
    
}

@media screen and (max-width: 600px) {
    .c1 {
        width: 100%;
    }
    .c2 {
        width: 100%;
    }
    .c3 {
        width: 100%;
    }
}

.friend-box {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 154px;
    background-color: #eee;
    margin: 20px auto;
    border-radius: 10px;
}

.friend-profile {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-size: cover;
    background-position: center;
    border: 3px rgba(255, 255, 255, 0.7) solid;
    box-shadow: 0px 0px 15px #aaa;
    background-image: url("images/u1.png");
}

.name-box {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    top: 20px;
    left: 90px;
    width: 200px;
    color: #4F7091;
    font-size: 18px;
}

.user-name-box {
    position: absolute;
    top: 42px;
    left: 90px;
    width: 200px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
}

.user-name-box2 {
    position: absolute;
    top: 82px;
    left: 90px;
    width: 200px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
}

.request-btn-row {
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    bottom: 10px;
    text-align: center;
}

.request-btn-row .accept-request {
    background-color: #41c764;
    color: #fff;
}

.request-btn-row .friend-request {
    width: 35%;
    margin: 5px 5%;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 5px;
    cursor: pointer;
}

.request-btn-row .decline-request {
    background-color: #FF6666;
    color: #fff;
}

i.fas,
i.fab {
    font-size: 0.85rem;
}

.verified {
    border: 1px solid #2bb832;
    background: #2bb832;
    border-radius: 4px;
    color: #fff;
}

.pending {
    border: 1px solid #3398db;
    background: #3498db;
    border-radius: 4px;
    color: #fff;
}

.accept-request:hover {
    background-color: #34944d;
    color: #fff;
    transition: 0.3s ease-in-out;
    padding-right: 1.3rem;
}

.decline-request:hover {
    background-color: #943734;
    color: #fff;
    transition: 0.3s ease-in-out;
    padding-right: 1.3rem;
}

.my-color {
    color: #112746 !important;
}

.overflow-anywhere {
    overflow-wrap: anywhere;
}

.ctr_flag {
    width: 30px;
    padding-top: 2px;
    margin-right: 0.5rem;
}

p.c-term {
    font-size: 1rem;
    margin: 0 1rem;
    line-height: 1.4rem;
    color: #484848;
}

.triangle-bottom {
    width: 0;
    height: 0;
    margin: -8px 49.3%;
    border-left: 0px solid transparent;
    border-right: 18px solid transparent;
    border-top: 17px solid #bebebe;
}

.getverify-para {
    width: 52%;
    text-align: left;
    margin: 10px 0;
    border-top: 1px solid #929292;
    color: #3c3a3a;
    border-bottom: 1px solid #929292;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 2rem 0;
}

.triangle-bottom2 {
    width: 0;
    height: 0;
    margin: -8px 31.3%;
    border-left: 0px solid transparent;
    border-right: 18px solid transparent;
    border-top: 17px solid #bebebe;
}

.learn-heading {
    margin-top: 2rem;
    font-size: 1.75rem;
    font-weight: 400;
    color: #1a71b7;
    text-decoration: underline;
}

.learn-para a {
    color: #1a71b7;
}

.get-verify-heading {
    margin-top: 2rem;
    font-weight: 700;
    color: #38516f;
}

.verification-code {
    font-size: 1.2rem;
}

.cc1 {
    width: 25%;
}

.cc2 {
    width: 75%;
}


/* 
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #111e31 !important;
    border-radius: 0 !important;
    background: #eeeeee !important;
    width: 100%;
    border: none !important;
    font-weight: 500 !important;
} */

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    /* max-width: 867px; */
    /* margin: 25px 10px; */
    height: 92vh;
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgb(169 161 161 / 20%);
}

.msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
}

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
}

.msger-inputarea * {
    padding: 8px 25px;
    border: none;
    border-radius: 3px;
    font-size: 1.2em;
}

.msger-input {
    flex: 1;
    background: #ddd;
}

.msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.msger-send-btn:hover {
    background: rgb(0, 180, 50);
}

.msger-chat {
    background-color: #fcfcfe;
    background-image: url("images/download.png");
}

.msg-text {
    background: #d4d4d4;
    padding: 1rem;
    border-radius: 12px;
}

.c-links {
    background-color: #fff !important;
}

.chat-name {
    font-size: 1.15rem;
    margin: 0;
    padding: 0;
}

.user-chat-staus {
    font-size: 1rem;
    font-weight: 500 !important;
    padding: 0;
    color: #4f6196;
    margin-right: 0.4rem;
}

.user-profile-staus {
    font-size: 1rem;
    font-weight: 500 !important;
    padding: 0;
    color: #13722b;
    margin-left: 0.4rem;
}

.not-verified {
    color: #943734 !important;
}

.all-associates {
    position: relative;
    top: 0;
    left: 0;
    height: 35px;
    width: 100%;
    color: #111e31 !important;
    margin-bottom: 0.5rem;
}

.chat-hover:hover {
    background-color: #90c8ec75;
}

.all-associates i {
    color: #111e31;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    vertical-align: bottom;
}

.custom-width2 {
    width: 30%;
    height:50px !important;
}

.dropdown,
.dropend,
.dropstart,
.dropup {
    margin-right: 1rem;
}

.home-page {
    width: 100%;
    margin: 0;
    padding: 0;
}

.left {
    padding: 130px 0 0;
}

.custom-card {
    border: none !important;
    border-radius: 0 !important;
}

.custom-card2 {
    border-radius: 0 !important;
    border: none !important;
    border-right: 1px solid #cbcaca;
    background: transparent;
}

.left .banner-h2 {
    font-family: cursive;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.left p {
    font-size: 1.12rem;
    color: #505050;
    font-weight: 500;
    line-height: 1.5rem;
}

.left .btn-start {
    align-items: center;
    text-align: center;
    margin-top: 3.8rem;
}

.c-btn:hover {
    background-color: #ffffff !important;
    border: 1px solid #0048b1;
    color: #0048b1;
    /* box-shadow: 0 0 6px #0048b1; */
}

.c-btn {
    background-color: #0048b1 !important;
    font-size: 1.3rem;
    border: 1px solid #0048b1;
    padding: 0.4rem 2rem;
    box-shadow: 5px 5px #111e31;
}

.col-md-2 {
    width: 20% ;
    padding: 0 !important;
}

.c-arrow {
    padding: 5px;
    color: #fff;
    background-color: #0048b1;
    border-radius: 50%;
    margin-left: 0.41rem;
    width: 20px;
    font-size: 12px !important;
    height: 20px;
    text-align: center;
}

.home-para {
    color: #0048b1;
    font-size: 1rem;
    font-weight: 500;
}

.home-head {
    margin-bottom: 1.5rem;
}

.my-c-body a:hover {
    text-decoration: underline;
}

.my-c-body a {
    text-decoration: none;
}

.my-c-body {
    padding: 1.6rem 1rem;
}

.m-c-row {
    box-shadow: 0 0px 20px #b3afaf6e;
    /* border-bottom: 1px solid #ddd; */
    width: 100%;
    margin: 0;
    padding: 0 5%;
    background-color: #fff;
}

.p-0 {
    padding: inherit 0;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.r-text-home {
    text-align: right !important;
}
.home-row{
    padding:  5%;
    width:100%;
    margin:0;
}
.banner-row {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    background: linear-gradient( 333deg, #9e9e9e47, transparent);
}

.msg-info-time {
    color: #000;
}

.msg-text{
    color: #000;
}
.msg.left-msg .msg-text {
    background: #f3debe;
}

.br-r{
    border-right:1px solid #ddd;
}
button.close {
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    font-size: 1.65rem;
    top: 0;
}
.cancel:hover{
    
    color:#fff !important;
}















@media only screen and (max-width: 450px){
    
    .content-layout{
       margin:0 !important;
       padding:0 !important;
    }
    .custom-pad2{
        padding:0 !important;
    }
    form{
        width:95% !important;
        margin: auto !important;
    }
}



@media only screen and (max-width: 950px){
    
    .c1,.c2,.c3,.row{
        width:100% !important;
        margin:10px 0 !important;
       padding:0 !important;
    }
    .content-layout{
       margin:0 !important;
       padding:0 !important;
    }
}